.evt-mobile-dialog .t-dialog {
  padding: 28px 12px 24px;
}
.evt-mobile-dialog .t-dialog .t-dialog__header {
  font-size: 14px;
  line-height: 24px;
}
.evt-mobile-dialog .t-dialog .t-dialog__header-content {
  justify-content: center;
}
.evt-mobile-dialog .t-dialog .t-dialog__body {
  padding-top: 8px;
  padding-bottom: 0;
}
.evt-mobile-dialog--content {
  text-align: center;
}
.evt-mobile-dialog--footer {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
}
.evt-mobile-dialog--btn {
  border-width: 0;
  padding: 0;
  margin: 0;
  display: flex;
  width: 138px;
  height: 40px;
  outline: none;
  box-shadow: none;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
  color: rgba(0, 0, 0, 0.6);
  border-radius: 8px;
}
.evt-mobile-dialog--btn:active {
  opacity: 0.6;
  outline: none;
}
.evt-mobile-dialog--btn__submit {
  background-color: #20C57D;
  color: #fff;
}
.evt-mobile-dialog.error .evt-mobile-dialog--btn__submit {
  background: var(---yb_error_primary_normal, #fa5151);
}
.evt-mobile-dialog.confirm .evt-mobile-dialog--btn__submit {
  background-color: #3377e8;
}
@font-face {
  font-family: 'sim';
  src: url(https://cdn-bot.hunyuan.tencent.com/assets/5603bff098be82285942.ttf);
  src: url(https://cdn-bot.hunyuan.tencent.com/assets/5603bff098be82285942.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TCloud Number';
  src: url(https://cdn-bot.hunyuan.tencent.com/assets/3b0997665b63cd5fcf24.ttf);
  src: url(https://cdn-bot.hunyuan.tencent.com/assets/3b0997665b63cd5fcf24.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  unicode-range: U+30-39;
}
/* 会话内容宽度适配 */
/* 智能体会话内容宽度适配 */
.input-box-element-color-transition {
  transition-duration: 0.2s;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, box-shadow;
  transition-timing-function: linear;
}

/**
 * @file style.less
 * @author markJia(markjia@tencent.com)
 */
.style__main___BbeiK {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  margin: 0 auto;
}
.style__main___BbeiK.style__no-header___xlKBg .style__info___jV7SO {
  transform: translateY(0);
}
.style__main___BbeiK .style__header___KZF0X {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.9);
  padding: 26px 0;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #dcdcdc;
}
.style__main___BbeiK .style__info___jV7SO {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  transform: translateY(-80px);
}
.style__main___BbeiK .style__info___jV7SO .style__icon___O4Ss6 {
  width: 64px;
  height: auto;
  margin-bottom: 16px;
  color: var(--text-text_primary);
}
.style__main___BbeiK .style__info___jV7SO .style__title___fGQ2L {
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
  color: var(--text-text_primary);
  text-align: center;
  margin-top: 4px;
}
.style__main___BbeiK .style__info___jV7SO .style__desc___a7cmc {
  margin-top: 4px;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
}
.style__main___BbeiK .style__info___jV7SO .style__feedback___v0KbH {
  margin-top: 4px;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
}
.style__main___BbeiK .style__info___jV7SO .style__footer___p_9F3 {
  margin-top: 12px;
}
.style__description___QJGRM {
  display: none;
}
@media screen and (min-width: 1401px) and (max-width: 2160px) {
  .style__main___BbeiK {
    width: 54.86%;
  }
}
@media screen and (min-width: 2161px) {
  .style__main___BbeiK {
    width: 1188px;
  }
}
.style__logo-container___Rw2ZV {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: var(--background-container);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-text_primary);
}
@font-face {
  font-family: 'sim';
  src: url(https://cdn-bot.hunyuan.tencent.com/assets/5603bff098be82285942.ttf);
  src: url(https://cdn-bot.hunyuan.tencent.com/assets/5603bff098be82285942.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TCloud Number';
  src: url(https://cdn-bot.hunyuan.tencent.com/assets/3b0997665b63cd5fcf24.ttf);
  src: url(https://cdn-bot.hunyuan.tencent.com/assets/3b0997665b63cd5fcf24.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  unicode-range: U+30-39;
}
/* 会话内容宽度适配 */
/* 智能体会话内容宽度适配 */
.style__input-box-element-color-transition___bDNnO {
  transition-duration: 0.2s;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, box-shadow;
  transition-timing-function: linear;
}

@font-face {
  font-family: "iconfont";
  src: url(https://cdn-bot.hunyuan.tencent.com/assets/d15e6dcc841670119bb4.woff2?t=efdfeeff31127ed3eb92dfd6de3267d6); /* IE9 */
  src: url(https://cdn-bot.hunyuan.tencent.com/assets/d15e6dcc841670119bb4.woff2?t=efdfeeff31127ed3eb92dfd6de3267d6#iefix) format('embedded-opentype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
  content: "\e002";
}
.icon-attention:before {
  content: "\e003";
}
.icon-close:before {
  content: "\e005";
}
.icon-code:before {
  content: "\e006";
}
.icon-setting:before {
  content: "\e007";
}
.icon-vs:before {
  content: "\e008";
}
.icon-copy2:before {
  content: "\e009";
}
.icon-correct:before {
  content: "\e00a";
}
.icon-consult:before {
  content: "\e00b";
}
.icon-delete:before {
  content: "\e00c";
}
.icon-edit:before {
  content: "\e00e";
}
.icon-textscan:before {
  content: "\e010";
}
.icon-expire:before {
  content: "\e011";
}
.icon-feedback:before {
  content: "\e012";
}
.icon-file:before {
  content: "\e013";
}
.icon-chat-square:before {
  content: "\e015";
}
.icon-copy:before {
  content: "\e016";
}
.icon-home:before {
  content: "\e019";
}
.icon-info:before {
  content: "\e01c";
}
.icon-instruct:before {
  content: "\e01d";
}
.icon-keyboard:before {
  content: "\e01e";
}
.icon-like:before {
  content: "\e01f";
}
.icon-line:before {
  content: "\e020";
}
.icon-menu:before {
  content: "\e022";
}
.icon-select:before {
  content: "\e024";
}
.icon-next:before {
  content: "\e025";
}
.icon-notice:before {
  content: "\e026";
}
.icon-play:before {
  content: "\e028";
}
.icon-add:before {
  content: "\e029";
}
.icon-refresh:before {
  content: "\e02a";
}
.icon-time:before {
  content: "\e031";
}
.icon-mic:before {
  content: "\e032";
}
.icon-like-active:before {
  content: "\e035";
}
.icon-arrow-down:before {
  content: "\e036";
}
.icon-arrow-left:before {
  content: "\e037";
}
.icon-dislike:before {
  content: "\e038";
}
.icon-arrow-up:before {
  content: "\e039";
}
.icon-dislike-active:before {
  content: "\e03b";
}
.icon-transfer:before {
  content: "\e03c";
}
.icon-cancel:before {
  content: "\e03d";
}
.icon-check:before {
  content: "\e03e";
}
.icon-default:before {
  content: "\e03f";
}
.icon-error:before {
  content: "\e040";
}
.icon-info-circle:before {
  content: "\e041";
}
.icon-mic-f:before {
  content: "\e042";
}
.icon-pdf:before {
  content: "\e043";
}
.icon-question:before {
  content: "\e044";
}
.icon-success:before {
  content: "\e045";
}
.icon-touzi:before {
  content: "\e046";
}
.icon-warning:before {
  content: "\e047";
}
.icon-warning1:before {
  content: "\e048";
}
.icon-helper:before {
  content: "\e04a";
}
.icon-lock:before {
  content: "\e04f";
}
.icon-search:before {
  content: "\e050";
}
.icon-stop:before {
  content: "\e051";
}
.icon-simple-instruct:before {
  content: "\e052";
}
.icon-more:before {
  content: "\e056";
}
.icon-pre:before {
  content: "\e057";
}
.icon-complete-instruct:before {
  content: "\e058";
}
.icon-error2:before {
  content: "\e059";
}
.icon-privacy:before {
  content: "\e05a";
}
.icon-protocol1:before {
  content: "\e05b";
}
.icon-version:before {
  content: "\e05c";
}
.icon-thumb:before {
  content: "\e05d";
}
.icon-pause:before {
  content: "\e05e";
}
.icon-send:before {
  content: "\e05f";
}
.icon-image:before {
  content: "\e060";
}
.icon-chat:before {
  content: "\e061";
}
.icon-inspiration:before {
  content: "\e062";
}
.icon-smile:before {
  content: "\e064";
}
.icon-share:before {
  content: "\e065";
}
.icon-history:before {
  content: "\e067";
}
.icon-sort:before {
  content: "\e06a";
}
.icon-download:before {
  content: "\e06e";
}
.icon-add-image-1:before {
  content: "\e06f";
}
.icon-edit-image-1:before {
  content: "\e070";
}
.icon-del:before {
  content: "\e072";
}
.icon-light:before {
  content: "\e073";
}
.icon-mountain:before {
  content: "\e075";
}
.icon-set:before {
  content: "\e077";
}
.icon-voice-play:before {
  content: "\e07b";
}
.icon-star:before {
  content: "\e07d";
}
.icon-my:before {
  content: "\e081";
}
.icon-swap:before {
  content: "\e083";
}
.icon-Vector5:before {
  content: "\e084";
}
.icon-image-error:before {
  content: "\e085";
}
.icon-time-filled:before {
  content: "\e087";
}
.icon-model:before {
  content: "\e088";
}
.icon-phone:before {
  content: "\e089";
}
.icon-evaluate:before {
  content: "\e08a";
}
.icon-refresh2:before {
  content: "\e08b";
}
.icon-dot:before {
  content: "\e08c";
}
.icon-func:before {
  content: "\e08d";
}
.icon-style:before {
  content: "\e08f";
}
.icon-none:before {
  content: "\e090";
}
.icon-template:before {
  content: "\e091";
}
.icon-me:before {
  content: "\e092";
}
.icon-upload2:before {
  content: "\e096";
}
.icon-upload:before {
  content: "\e097";
}
.icon-chajian:before {
  content: "\e099";
}
.icon-folder:before {
  content: "\e09a";
}
.icon-xiaochengxuma:before {
  content: "\e09e";
}
.icon-upload3:before {
  content: "\e0a0";
}
.icon-camera:before {
  content: "\e0a1";
}
.icon-volume_up:before {
  content: "\e0a2";
}
.icon-volume_off:before {
  content: "\e0a3";
}
.icon-btn1:before {
  content: "\e0a8";
}
.icon-link:before {
  content: "\e0a9";
}
.icon-draw_switch:before {
  content: "\e0b1";
}
.icon-paraphrase:before {
  content: "\e0b2";
}
.icon-art_style:before {
  content: "\e0b3";
}
.icon-proportion:before {
  content: "\e0b4";
}
.icon-resolution:before {
  content: "\e0b5";
}
.icon-lianjie:before {
  content: "\e0b6";
}
.icon-share_pin:before {
  content: "\e0b7";
}
.icon-ai_beauty:before {
  content: "\e0b8";
}
.icon-speaker:before {
  content: "\e0b9";
}
.icon-shezhi:before {
  content: "\e0bd";
}
.icon-up_ed:before {
  content: "\e0c0";
}
.icon-up:before {
  content: "\e0c1";
}
.icon-up_cancle:before {
  content: "\e0c2";
}
.icon-arrow:before {
  content: "\e0c7";
}
.icon-analyse:before {
  content: "\e0ca";
}
.icon-arrow2:before {
  content: "\e0cb";
}
.icon-subscribe:before {
  content: "\e0cc";
}
.icon-recently:before {
  content: "\e0cd";
}
.icon-favorite:before {
  content: "\e0ce";
}
.icon-return:before {
  content: "\e0d0";
}
.icon-wen:before {
  content: "\e0d1";
}
.icon-voice:before {
  content: "\e0d2";
}
.icon-music:before {
  content: "\e0d5";
}
.icon-ask:before {
  content: "\e0da";
}
.icon-btn_draw:before {
  content: "\e0db";
}
.icon-btn_read:before {
  content: "\e0dc";
}
.icon-btn_search:before {
  content: "\e0dd";
}
.icon-btn_write:before {
  content: "\e0de";
}
.icon-arrow_filled_right:before {
  content: "\e0df";
}
.icon-pause2:before {
  content: "\e0e0";
}
.icon-wendangyichang:before {
  content: "\e0e1";
}

/**
 * @file style.less
 * @author weifendeng(weifendeng@tencent.com)
 */
.colorful-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  font-size: 16px;
}
.style__hunyuan-icon-circle-bg-wrapper___Hxh4l {
  display: flex;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #F3F3F3;
  flex-shrink: 0;
  cursor: pointer;
}
@font-face {
  font-family: 'sim';
  src: url(https://cdn-bot.hunyuan.tencent.com/assets/5603bff098be82285942.ttf);
  src: url(https://cdn-bot.hunyuan.tencent.com/assets/5603bff098be82285942.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TCloud Number';
  src: url(https://cdn-bot.hunyuan.tencent.com/assets/3b0997665b63cd5fcf24.ttf);
  src: url(https://cdn-bot.hunyuan.tencent.com/assets/3b0997665b63cd5fcf24.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  unicode-range: U+30-39;
}
/* 会话内容宽度适配 */
/* 智能体会话内容宽度适配 */
.style__input-box-element-color-transition___QQsfT {
  transition-duration: 0.2s;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, box-shadow;
  transition-timing-function: linear;
}

.third-login-modal-dialog .t-dialog__position {
  padding: 0;
}
.third-login-modal-dialog .t-dialog__position > .t-dialog {
  width: 100%;
  max-width: 100%;
  border: none;
  height: 100%;
  padding: 0;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(8px);
}
.third-login-modal-dialog .t-dialog__body {
  padding: 0;
  height: 100vh;
}
.third-login-modal-dialog--content {
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.third-login-modal-dialog--close-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 16px;
  left: 16px;
  width: 32px;
  height: 32px;
  border-radius: 100%;
}
.third-login-modal-dialog--close-icon:hover {
  background: rgba(0, 0, 0, 0.05);
}
.third-login-modal-dialog--logo {
  width: 48px;
  height: 48px;
}
.third-login-modal-dialog--text {
  margin: 32px 0;
}
.third-login-modal-dialog--title {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.9);
}
.third-login-modal-dialog--subtext {
  font-size: 16px;
  line-height: 24px;
  margin-top: 8px;
  color: rgba(0, 0, 0, 0.6);
}
.third-login-modal-dialog--btn {
  border-radius: 8px;
  padding: 13px 62px;
  pointer-events: pointer;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
}
.third-login-modal-dialog--btn:hover {
  background-color: #2CCA78;
}
@font-face {
  font-family: 'sim';
  src: url(https://cdn-bot.hunyuan.tencent.com/assets/5603bff098be82285942.ttf);
  src: url(https://cdn-bot.hunyuan.tencent.com/assets/5603bff098be82285942.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TCloud Number';
  src: url(https://cdn-bot.hunyuan.tencent.com/assets/3b0997665b63cd5fcf24.ttf);
  src: url(https://cdn-bot.hunyuan.tencent.com/assets/3b0997665b63cd5fcf24.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  unicode-range: U+30-39;
}
/* 会话内容宽度适配 */
/* 智能体会话内容宽度适配 */
.input-box-element-color-transition {
  transition-duration: 0.2s;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, box-shadow;
  transition-timing-function: linear;
}

.third-party-login-confirm {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
}
.third-party-login-confirm .bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(15px);
}
.third-party-login-confirm .close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 16px;
  left: 16px;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.05);
}
.third-party-login-confirm .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  width: 290px;
  margin: auto;
  text-align: center;
}
.third-party-login-confirm .content .logo {
  width: 48px;
  height: 48px;
}
.third-party-login-confirm .content .text {
  margin: 32px 0;
}
.third-party-login-confirm .content .text .title {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  font-family: PingFang SC;
  color: rgba(0, 0, 0, 0.9);
}
.third-party-login-confirm .content .text .sub-title {
  font-size: 16px;
  line-height: 24px;
  margin-top: 8px;
  font-family: PingFang SC;
  color: rgba(0, 0, 0, 0.6);
}
.third-party-login-confirm .content .sub-text {
  margin: 16px 0;
}
.third-party-login-confirm .content .sub-text .sub-title {
  font-size: 12px;
  line-height: 18px;
  font-family: PingFang SC;
  color: rgba(0, 0, 0, 0.6);
}
.third-party-login-confirm .content .btn {
  border-radius: 8px;
  padding: 5px 28px;
  transition: 0.4s;
  box-sizing: content-box;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
  background: #20C57D;
}
.third-party-login-confirm .content .btn:hover {
  background-color: #2CCA78;
}
.third-party-login-confirm .protocol {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 33px;
  width: 80%;
  max-width: 400px;
}
.third-party-login-confirm .protocol label {
  outline: none;
  box-shadow: none;
}
.third-party-login-confirm .protocol .checkbox .t-checkbox__input {
  flex-shrink: 0;
}
.third-party-login-protocol-body {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
}
.third-party-login-protocol-body a {
  color: #576B95;
}
.third-party-login-protocol-body .t-checkbox__input {
  flex-shrink: 0;
}
.third-party-login-dialog .t-button--theme-primary {
  background: rgba(0, 0, 0, 0.9);
}
@font-face {
  font-family: 'sim';
  src: url(https://cdn-bot.hunyuan.tencent.com/assets/5603bff098be82285942.ttf);
  src: url(https://cdn-bot.hunyuan.tencent.com/assets/5603bff098be82285942.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TCloud Number';
  src: url(https://cdn-bot.hunyuan.tencent.com/assets/3b0997665b63cd5fcf24.ttf);
  src: url(https://cdn-bot.hunyuan.tencent.com/assets/3b0997665b63cd5fcf24.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  unicode-range: U+30-39;
}
/* 会话内容宽度适配 */
/* 智能体会话内容宽度适配 */
.input-box-element-color-transition {
  transition-duration: 0.2s;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, box-shadow;
  transition-timing-function: linear;
}

.global-error-boundary-fallback__icon {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(250, 81, 81, 0.1);
  color: #FA5151;
  margin-bottom: 16px;
}
.global-error-boundary-fallback__desc {
  font-size: 14px !important;
}
.global-error-boundary-fallback__desc--root {
  width: 100%;
  max-width: 640px;
  margin-top: 6px;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 12px;
  background: #fafafa;
  border: 1px solid #d6d7dc;
  white-space: pre-wrap;
  /* 或者使用 pre-line */
  word-break: break-all;
  /* 或者使用 keep-all */
  overflow-wrap: break-word;
}
.global-error-boundary-fallback__footer {
  margin-top: 32px;
  margin-bottom: 8px;
}
.global-error-boundary-fallback__footer .t-button {
  width: 120px;
  height: 36px;
}
.global-error-boundary-fallback__root {
  width: 100% !important;
}
.global-error-boundary-fallback__content {
  padding: 0 24px;
}
@font-face {
  font-family: 'sim';
  src: url(https://cdn-bot.hunyuan.tencent.com/assets/5603bff098be82285942.ttf);
  src: url(https://cdn-bot.hunyuan.tencent.com/assets/5603bff098be82285942.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TCloud Number';
  src: url(https://cdn-bot.hunyuan.tencent.com/assets/3b0997665b63cd5fcf24.ttf);
  src: url(https://cdn-bot.hunyuan.tencent.com/assets/3b0997665b63cd5fcf24.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  unicode-range: U+30-39;
}
/* 会话内容宽度适配 */
/* 智能体会话内容宽度适配 */
.input-box-element-color-transition {
  transition-duration: 0.2s;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, box-shadow;
  transition-timing-function: linear;
}

/**
 * @file style.less
 * @author weifendeng(weifendeng@tencent.com)
 */
.style__hunyuan-icon-wrapper___t86IZ {
  display: inline-block;
}
@font-face {
  font-family: 'sim';
  src: url(https://cdn-bot.hunyuan.tencent.com/assets/5603bff098be82285942.ttf);
  src: url(https://cdn-bot.hunyuan.tencent.com/assets/5603bff098be82285942.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TCloud Number';
  src: url(https://cdn-bot.hunyuan.tencent.com/assets/3b0997665b63cd5fcf24.ttf);
  src: url(https://cdn-bot.hunyuan.tencent.com/assets/3b0997665b63cd5fcf24.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  unicode-range: U+30-39;
}
/* 会话内容宽度适配 */
/* 智能体会话内容宽度适配 */
.style__input-box-element-color-transition___dQngH {
  transition-duration: 0.2s;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, box-shadow;
  transition-timing-function: linear;
}

@media screen and (max-width: 767px) {
  .login-safe-check-dialog .hyc-phone-login {
    padding: 0;
  }
  .login-safe-check-dialog .hyc-phone-login__content-input-row,
  .login-safe-check-dialog .hyc-phone-login__submit-btn {
    width: 100%;
  }
}
@font-face {
  font-family: 'sim';
  src: url(https://cdn-bot.hunyuan.tencent.com/assets/5603bff098be82285942.ttf);
  src: url(https://cdn-bot.hunyuan.tencent.com/assets/5603bff098be82285942.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TCloud Number';
  src: url(https://cdn-bot.hunyuan.tencent.com/assets/3b0997665b63cd5fcf24.ttf);
  src: url(https://cdn-bot.hunyuan.tencent.com/assets/3b0997665b63cd5fcf24.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  unicode-range: U+30-39;
}
/* 会话内容宽度适配 */
/* 智能体会话内容宽度适配 */
.input-box-element-color-transition {
  transition-duration: 0.2s;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, box-shadow;
  transition-timing-function: linear;
}

.safe-check-input {
  padding: 24px 46px 30px 46px;
}
.hyc-phone-login__title-name {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  color: var(--text-text_primary);
}
.hyc-phone-login__title-desc {
  font-weight: 400;
  font-size: 14px;
  text-align: justify;
  color: var(--text-text_secondary);
  width: 100%;
  margin-top: 10px;
  margin-bottom: 32px;
}
.hyc-phone-login__grey {
  color: var(--text-text_primary);
  padding-right: 8px;
  font-size: 16px;
  white-space: nowrap;
  flex-shrink: 0;
}
.hyc-phone-login__content-input-row {
  color: var(--text-text_primary);
  font-size: 16px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  padding-left: 12px;
  width: 320px;
  height: 48px;
  background-color: transparent;
  border: 1px solid var(--widget-line);
  border-radius: 8px;
  box-sizing: border-box;
  transition: border 0.2s;
}
.hyc-phone-login__content-input-row-show {
  border-color: transparent;
  height: 32px;
  padding-left: 0px;
}
.hyc-phone-login__content-input-row-show:hover {
  border-color: transparent !important;
}
.hyc-phone-login__content-input-row .t-input__inner:-webkit-autofill,
.hyc-phone-login__content-input-row .t-input__inner:-webkit-autofill:hover,
.hyc-phone-login__content-input-row .t-input__inner:-webkit-autofill:focus,
.hyc-phone-login__content-input-row .t-input__inner:-webkit-autofill:active {
  -webkit-box-shadow: inset 0 0 0 1000px transparent !important;
  background-color: transparent;
  background-image: none;
  -webkit-transition: background-color 50000s ease-in-out 0s;
  transition: background-color 50000s ease-in-out 0s;
}
.hyc-phone-login__content-input-row:hover {
  border: 1px solid var(--widget-btn_click_1);
}
.hyc-phone-login__content-input-row:hover .outline-placeholder {
  border-color: var(--widget-btn_click_1);
}
.hyc-phone-login__content-input-row .outline-placeholder {
  opacity: 0;
  pointer-events: none;
  transition: 0.2s opacity;
}
.hyc-phone-login__content-input-row .outline-placeholder:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid var(--td-brand-color);
  border-radius: 8px;
}
.hyc-phone-login__content-input-row .t-input {
  background-color: transparent;
  border: 0;
  height: 48px;
  font-size: 16px;
}
.hyc-phone-login__content-input-row .t-input__inner {
  width: 100%;
}
.hyc-phone-login__content-input-row .t-input:-webkit-autofill,
.hyc-phone-login__content-input-row .t-input:-webkit-autofill:hover,
.hyc-phone-login__content-input-row .t-input:-webkit-autofill:focus,
.hyc-phone-login__content-input-row .t-input:-webkit-autofill:active {
  box-shadow: none;
  background-color: transparent;
}
.hyc-phone-login__content-input-row .t-input--focused {
  box-shadow: none;
  border-color: var(--widget-btn_click_1);
}
.hyc-phone-login__content-input-row .t-input:focus {
  box-shadow: none;
  border-color: var(--widget-btn_click_1);
}
.hyc-phone-login__content-input-row .t-input:hover {
  border-color: var(--widget-btn_click_1);
}
.hyc-phone-login__content-input-row .t-input input::-webkit-outer-spin-button,
.hyc-phone-login__content-input-row .t-input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.hyc-phone-login__content-input-row .t-input__wrap:has(> .t-input--focused) + .outline-placeholder {
  border-color: var(--widget-btn_click_1);
}
.hyc-phone-login__send-code {
  display: block;
  width: 100px;
  color: var(--text-text_primary);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  flex-shrink: 0;
}
.hyc-phone-login__send-code-sep {
  color: rgba(0, 0, 0, 0.08);
}
.hyc-phone-login__send-code.is-disabled {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.4);
}
.hyc-phone-login__submit-btn {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  height: 48px !important;
  width: 320px;
  padding: 4px 16px;
  font-size: 16px;
  color: #ffffff;
  border-radius: 8px;
  border: none;
  background: var(--brand-black_1);
  cursor: pointer;
  outline: none;
}
.hyc-phone-login__submit-btn:hover {
  background: var(--widget-btn_click_3);
}
@font-face {
  font-family: 'sim';
  src: url(https://cdn-bot.hunyuan.tencent.com/assets/5603bff098be82285942.ttf);
  src: url(https://cdn-bot.hunyuan.tencent.com/assets/5603bff098be82285942.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TCloud Number';
  src: url(https://cdn-bot.hunyuan.tencent.com/assets/3b0997665b63cd5fcf24.ttf);
  src: url(https://cdn-bot.hunyuan.tencent.com/assets/3b0997665b63cd5fcf24.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  unicode-range: U+30-39;
}
/* 会话内容宽度适配 */
/* 智能体会话内容宽度适配 */
.input-box-element-color-transition {
  transition-duration: 0.2s;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, box-shadow;
  transition-timing-function: linear;
}


/*# sourceMappingURL=sourcemap/4074.71682454219a9ff569a2.css.map*/